.label {
    margin-bottom: 4px;
    display: flex;
    align-items: center;

    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}
.disabled{
    color: #70707B !important;
}

.sm {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}

.helpIconContainer {
    position: relative;
    margin-left: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Icon {
    display: block;
    width: 12px;
    height: 12px;
}

.popupMessage {
    position: absolute;
    bottom: 25px;
    left: 50%;
    min-width: 100px;
    transform: translateX(-50%) scaleX(0);
    background: #616161;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    z-index: 10;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, transform 0.2s ease-in-out;
    text-align: center;
}

.popupMessage.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scaleY(1);
}

.popupMessage::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: #616161 transparent transparent transparent;
}

.asterisk {
    margin-left: 2px;
    font-size: 18px;
    color: #D92D20;
    cursor: pointer;
}

.asteriskContainer {
    position: relative;
    margin-left: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.darkmode{
    color: #FAFAFA;
}
.darkmodePopup{
    background: #fff;
    color:#333;

}
.darkmodePopup::before{
    border-color: #fff transparent transparent transparent;
}