.inputContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #D1D1D6;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
}

.leftPosititon {
    width: 64px !important;
    padding: 4px;
}

.inputContainer:has(.input:focus) {
    outline: none;
    border-color: #007bff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 1);
}

.search {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.shortkey {
    display: block;
    height: 25px;
    width: 50px;
    margin-left: 8px;
}

.input {
    color: #1A1A1E;
    width: 100%;
    box-sizing: border-box;
    border: none;
    text-overflow: ellipsis;
    background-color: transparent;
}


.input:focus {
    outline: none;
    border: none;
}

.error {
    border-color: red;
}



.input::placeholder {
    color: #70707B;
}


.helpIcon {
    width: 25px;
    height: 25px;
}

.errorIcon path {
    stroke: #ff0000;
}


.sm {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

    padding: 0 8px;
}

.md {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding: 4px 8px;
}

.lg {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 8px  10px;
}

.xl {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 10px;
}

.nonBorder{
    border:none;
}

.left{
    text-align: left;
}
.right{
    text-align: right;
}

.darkmode > .input, .input::placeholder{
    color: #FAFAFA;
}














.inputContainer.default {
    border: 1px solid #D1D1D6;
}

.inputContainer.hover:hover {
    border-color: #007bff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 1);
}

.inputContainer.focus:has(.input) {
    border-color: #007bff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 1);
}


.inputContainer.focus:has(.input:focus) {
    border-color: #007bff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 1);
}

.inputContainer.error {
    border-color: red;
}


.inputContainer.error-focus:has(.input) {
    border-color: #ff0000;
    box-shadow: 0px 0px 8px rgb(255, 0, 0);
}

.inputContainer.error:has(.input:focus) {
    border-color: #ff0000;
    box-shadow: 0px 0px 8px rgb(255, 0, 0);
}

.inputContainer.disabled {
    border-color: #cccccc;
    cursor: not-allowed;
}

.input.disabled {
    color: #a0a0a0;
    cursor: not-allowed;
}

.input.error {
    border-color: red;
}

.input.error:focus {
    border-color: #ff0000;
    box-shadow: 0px 0px 8px rgb(255, 0, 0);
}